<!-- get data from event emmiter from search compoenent -->
<app-search (onSearchEmitter)="onSearch($event)"></app-search>

<!-- pass seachTect to product-list compoenent -->
<!-- #productListContainer is a ref of product-list component which refre to the class of component  -->
<product-list
  [searchedText]="searchedText"
  #productListContainer
></product-list>

<!-- access selectedProduct from template ref #productListContainer -->
<!-- <project-details
  *ngIf="productListContainer.selectedProduct"
  [selectedProduct]="productListContainer.selectedProduct"
></project-details> -->
<project-details
  *ngIf="productListContainer.selectedProduct"
  [ProductListComponentInstance]="ProductListComponentInstance"
></project-details>

<div class="ekart-featured-products">
  <div class="ekart-featured-product-heading">
    <h1>Latest Arrival in Pupolar Brands</h1>
  </div>
  <featured-product>
    <h3 class="title">New Arrivals in Nike</h3>
    <button class="call-to-action">New Arrival in Nike</button>
  </featured-product>
  <featured-product>
    <h3 class="title">New Arrivals in Adidas</h3>
    <button class="call-to-action">New Arrival in Adidas</button>
  </featured-product>
  <featured-product>
    <h3 class="title">New Arrivals in Rebook</h3>
    <button class="call-to-action">New Arrival in Rebook</button>
  </featured-product>
</div>
