<!-- get data from event emmiter from search compoenent -->
<app-search (onSearchEmitter)="onSearch($event)"></app-search>

<!-- pass seachTect to product-list compoenent -->
<!-- #productListContainer is a ref of product-list component which refre to the class of component  -->
<product-list
  [searchedText]="searchedText"
  #productListContainer
></product-list>

<!-- access selectedProduct from template ref #productListContainer -->
<project-details
  *ngIf="productListContainer.selectedProduct"
  [selectedProduct]="productListContainer.selectedProduct"
></project-details>
<!-- <input (input)="onNameChange($event)"><br>
    <p>name={{name}}</p> -->
