<app-filter
  [all]="totalProductsCount"
  [inStockCount]="inStockProductsCount"
  [outOfStockCount]="outOfStockProductsCount"
  (selectedFilterRadioBtnChangedEmitter)="onFilterChanged($event)"
></app-filter>
<div class="ekart--products--container" x>
  <div *ngFor="let prod of products" (click)="selectedProduct = prod">
    <!-- show product pased on availability on stock or if user selected all products -->
    <!-- *ngIf="
    selectedFilterBy === 'all' ||
    prod.is_in_inventory.toString() === selectedFilterBy 
  " -->
    <app-product
      [product]="prod"
      *ngIf="
        searchedText === '' ||
        prod.name.toLocaleLowerCase().includes(searchedText.toLocaleLowerCase())
      "
    ></app-product>
  </div>
</div>
